{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
		<link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<body>
	{% for message  in messages %}
	<h1 class="messages">
		{{ message }}
	</h1>
	{% endfor %}
	<div class="form-container">
        <h2>Login</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-login">Log In</button>
        </form>
		<p>Don't have an account <a class="here" href="/register">Click here..</a></p>
    </div>
</body>
</html>