{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>Royal | Home</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
	
	<!-- StyleSheet -->
	<link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<body>
	{% for message  in messages %}
	<h1 class="messages">
		{{ message }}
	</h1>
	{% endfor %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
		<div class="form-container">
			<h2>Create your account</h2>
			<form method="post" class="form">
				{% csrf_token %}
				{{ field }}
				<button type="submit" class="btn btn-register">Sign Up</button>
			</form>
			<p>Do you have an account <a class="here" href="/login">Click here..</a></p>
		</div>
	{% endfor %}
</body>
</html>